.footer{
  position: fixed;
  bottom: 1px;
}
.App{
  padding-bottom: 50px;
  padding: 10px;
}
.app-container{
  max-width: 1024px;
  margin: auto;
}
.icon-button{
  color: #FFF !important;
}
.ace_editor{
  font-size: 1rem !important;
}
.ql-editor{
  font-size: 1rem;
}
